// @mixin arial {
//     font-family: 'Arial';
// }

@mixin ptsans {
    font-family: 'PT Sans', 'Arial', sans-serif;
}

@mixin ptsans-i {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: italic;
}

@mixin ptsans-b {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
}

@mixin lato {
    font-family: 'Lato', 'Arial', sans-serif;
}