// @mixin arial {
//     font-family: 'Arial';
// }

@mixin montserrat {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

@mixin montserrat-l {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
}

@mixin montserrat-sb {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 600;
}